[folders]
.vscode/
.idea/
.venv/
.claude/
__pycache__/
node_modules/
migrate/
translations/
dist/
logs/
myapp/
/additives/

[files]
home.ini
docs.ini
ocean.ini
messages.pot
tailwind.css
_my_config.py
*.db
package-lock.json