[folders]
.vscode/
.idea/
.venv/
__pycache__/
node_modules/
app_services/
additives/
migrate/
translations/
dist/
logs/

[files]
home.ini
docs.ini
ocean.ini
messages.pot
tailwind.css
_my_config.py
*.db