{% extends "fluid_base.html" %}

{% block head %}
    {{ frontend() }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='css/highlight.atom-one.css') }}">
    {% block web_head %}{% endblock %}
{% endblock %}

{% block nav %}{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
    {% block web_scripts %}{% endblock %}
    <script src="{{ url_for('static', path='js/highlight.js') }}"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}